@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');


:root {
    --cor1: #D4980B;
    --cor2: #DE8A0B;
    --cor3: #C75D00;
    --cor4: #DE4F0B;
    --cor5: #D42E0B;


    --fonte-titulo: 'Josefin Sans', sans-serif;;
    --fonte-texto: 'Inconsolata', monospace;
    --fonte-opcional: 'Agdasima', sans-serif;;
    --fonte-padrão: 'Arial', 'Helvetica', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #9ADFFE;
    font-family: var(--fonte-padrão);
}


header {
    background-color: #092857;
    text-align: center;
    min-height: 45px;
    padding-top: 40px;
}


header > h1 {
    color: whitesmoke;
    font-family: var(--fonte-opcional);
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.325);
}


nav {
    background-color: #092857;
    padding: 10px;
    box-shadow: 0px 3px 3px #240caba4;
}


nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    transition-duration: 0.4s;
    border-radius: 5px;
}


nav > a:hover {
    color: #092857;
    background-color: whitesmoke;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(245, 245, 220, 0.236);
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}


main h1 {
    -webkit-text-fill-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2em;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

main h1:hover {
    text-decoration: underline;
}

main h2 {
    color: #2C3238;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: left;
    padding: 5px;
    cursor: pointer;
    display: none;
    
}

main h2:hover {
    text-decoration: underline;
}

main h3 {
    color: #7A5600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    display: none;
    cursor: pointer;
}


main p {
    margin: 10px 0px;
    text-align: left;
    font-size: 1.4em;
    line-height: 2em;
    font-family: monospace;
}


.titulo1::before {
    content: '';
    display: inline-block;
    height: 8px;
    width: 20px;
    background-color: yellow;
    margin-right: 10px;
    margin-bottom: 6px;
    border: 1.4px solid black;
    
}


.titulo2::before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 15px;
    background-color: #2C3238;;
    margin-right: 10px;
    margin-bottom: 6px;
    
}


.titulo3::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 24px;
    background-color: #7A5600;
    margin-right: 10px;
    margin-bottom: 6px;
    
}


.titulo1:after {
    content: '+';
    float: right;
    transition: transform.4s ease;
}


.titulo2:after {
    content: '+';
    float: right;
    transition: transform.4s ease;
}


.titulo3:after {
    content: '+';
    float: right;
    transition: transform .4s ease;
}


.sublinhar {
    text-decoration: underline;
}


.destaque {
    color: red;
}

.letrarosa {
    color: rgb(232, 22, 190);
}

.letraazul {
    color: blue;
}

.letraroxa {
    color: rgb(154, 66, 242);
}

.letramarrom {
    color: #a3270e;
}

.byellow {
    background-color: yellow;
}

.borange {
    background-color: orange;
}

.bgreen {
    background-color: greenyellow;
}

.conteudos {
    padding: 10px;
    color: black;
    display: none;
}


.principal-input {
    display: none;
}

.principal-input:checked + .trigger-wrapper .conteudos {
    display: none;
} 

.principal-input:checked + .trigger-wrapper h2 {
    display: block;
} 

.trigger-input {
    display: none;
}


.trigger-input:checked + .trigger-wrapper .conteudos {
    display: block;
} 


.principal-input:checked + .trigger-wrapper .titulo1:after {
    transform: rotate(45deg) scale(1.08);
}


.trigger-input:checked + .trigger-wrapper .titulo2:after {
    transform: rotate(45deg) scale(1.08);
}


.trigger-input:checked + .trigger-wrapper .titulo3:after {
    transform: rotate(45deg) scale(1.08);
}



footer {
    background-color: #092857;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    background-attachment: fixed;
    margin-top: 82px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}

footer a:hover {
    background-color: white;
    text-decoration: underline;
    color: #092857;
    border-radius: 5px;
    padding: 3px;
}